<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 >Task Detail </h1>

        <div>
        {% if data.image %}
            <img src="{{data.image.url}}" class="card-img-top" alt="...">
        {% endif %}
            <div class="card-body">
                <h5 class="card-title">title: {{data.title}}</h5>
                <p >Descirption: {{data.description}}</p>
                <p >create_date: {{data.create_date}}</p>
                <p >due_date: {{data.due_date}}</p>
                <p >priority: {{data.priority}}</p>
                <p >Task Complete:{% if data.is_complete %}Done{% else %} Not Done {% endif %}</p>
                
            </div>
        
        </div>



    <a href="{% url 'list-task' %}">Home Page </a>

</body>
</html>
